* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    margin-bottom: 1200px
}
.parralax {
    height: 100vh;
    overflow: hidden;
    font-family: cursive;
    
}
.bg {
    z-index: 0;
  width: 100%;
object-fit: cover;
position: relative;
}
.cloud2 {
    position: absolute;
    right: 0;
    top: 3%;
}
.cloud1under {
    position: absolute;
    top: 28%;
    left: 12.5%;
}
.mountains {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 35%;
}
.cloud3 {
    position: absolute;
    left: 0;
    top: 25%;
}
.cloud1 {
    left: 0;
    top: 1%;
    position: absolute;
}
.water {
    width: 100%;
    position: absolute;
    top: 52%;
    left: 0%;
}
.bird1 {
    position: absolute;
    top: 40%;
    left: 35%;
}
.bird2 {
    position: absolute;
    top: 45%;
    left: 37%;
}
.bird3 {
    position: absolute;
    top: 42%;
    left: 39%;
}
.mountain {
    position: absolute;
    top: 44%;
    right: 9%;
}
.centercloudcha1 {
    position: absolute;
    top: 8%;

    right: 27%;
}
.centercloudcha2 {
    position: absolute;
    top: 15%;

    right: 25.5%;
}
.flatcloud1 {
    position: absolute;
    top: 35%;
    left: 10%;
}
.flatcloud2 {
    position: absolute;
    top: 13%;
    right: 13%;
}
.sun {
    position: absolute;
    top: 45%;
    left: 70%;
}

